<form method="post" action="{{ path('app_category_add') }}">
    <input type="text" name="name">
    <button type="submit">Save</button>
</form>
<p><a href="{{ path('app_category_index') }}">List</a></p>
